$white: #FFFFFF;
$blue: #1F65D9;
$blue_light: #8796AE;
$blue_medium: #12336A;
$blue_dark: #233148;
$grey: #D9DFE6;
$grey_light: #EAEFF5;
$yellow: #FCCF18;

$primary_font: "Proxima Nova", Arial, sans-serif;

$xxs_f_size_mobile: 16px;
$xs_f_size_mobile: 22px;
$s_f_size_mobile: 30px;

$xxs_f_size_tablet: 18px;
$xs_f_size_tablet: 22px;
$s_f_size_tablet: 24px;
$l_f_size_tablet: 32px;
$xl_f_size_tablet: 48px;


$vl_color: $grey;
$vl_color_secondary: $blue_medium;

$section_dark_bg: $blue_dark;
$section_light_bg: $grey_light;

$section_download_bg: $blue;

$section_download_color: $white;

$light_heading_color: $white;
$dark_heading_color: $blue_dark;

$title_decoration_bg: $blue;

$card_color: $blue_light;
$card_heading_color: $white;

$download_link_bg: $yellow;
$download_link_color: $blue_dark;
